In [1]:
import pandas as pd
import numpy as np

# Czasopisma

In [20]:
d = pd.read_excel('data/wykaz_czasopism_2019.xlsx', 0, header=2)
d.columns = list(d.iloc[0,:5].values) + ['issn 2', 'e-issn 2', 'Punkty'] + list(d.columns[8:])
d = d.iloc[1:,1:]

In [21]:
# filter categories
l = ['informatyka', 'matematyka', 'informatyka techniczna i telekomunikacja']
d = d[list(d.columns[:7]) + l]
d = d[d[l].notna().any(axis=1)]
d = d.reset_index(drop=True)

In [22]:
# removing 2nd issn/title/e-issn if same
d.loc[(d['issn'] == d['issn 2']), 'issn 2'] = np.nan
d.loc[(d['Tytuł 1'] == d['Tytuł 2']), 'Tytuł 2'] = np.nan
d.loc[(d['e-issn'] == d['e-issn 2']), 'e-issn 2'] = np.nan

# fill 1st title/issn/e-issn with 2nd if 1st not present
d.loc[d['Tytuł 1'].isna(), 'Tytuł 1'] = d[d['Tytuł 1'].isna()]['Tytuł 2']
d.loc[d['issn'].isna(), 'issn'] = d[d['issn'].isna()]['issn 2']
d.loc[d['e-issn'].isna(), 'e-issn'] = d[d['e-issn'].isna()]['e-issn 2']

In [23]:
d

,Tytuł 1,issn,e-issn,Tytuł 2,issn 2,e-issn 2,Punkty,informatyka,matematyka,informatyka techniczna i telekomunikacja
0,3D Research,2092-6731,2092-6731,NaN,NaN,NaN,40,NaN,NaN,x
1,4OR-A Quarterly Journal of Operations Research,1619-4500,1614-2411,4OR,NaN,NaN,70,x,NaN,x
2,ABHANDLUNGEN AUS DEM MATHEMATISCHEN SEMINAR DE...,0025-5858,1865-8784,Abhandlungen aus dem Mathematischen Seminar de...,NaN,NaN,70,NaN,x,NaN
3,ACM Communications in Computer Algebra,1932-2232,1932-2240,NaN,NaN,NaN,20,x,x,x
4,ACM COMPUTING SURVEYS,0360-0300,1557-7341,ACM Computing Surveys,NaN,NaN,200,x,NaN,x
...,...,...,...,...,...,...,...,...,...,...
3027,Biometrical Letters,1896-3811,NaN,NaN,NaN,NaN,20,NaN,x,NaN
3028,Studia Semiotyczne,0137-6608,2544-073X,NaN,NaN,NaN,20,x,x,NaN
3029,"Annales Universitatis Mariae Curie-Skłodowska,...",0365-1029,2083-7402,NaN,NaN,NaN,20,NaN,x,NaN
3030,KWARTALNIK BELLONA,1897-7065,NaN,NaN,NaN,NaN,20,NaN,NaN,x
3031,Computer Assisted Methods in Engineering and S...,2299-3649,,NaN,NaN,NaN,20,x,x,x

In [24]:
d = pd.read_excel('data/wykaz_czasopism_2021.xlsx', 0, header=0) # header was 2 for 2019 data
d = d.iloc[:,1:] # 2019 data had one less column
d.columns = list(d.iloc[0,:5].values) + ['issn 2', 'e-issn 2', 'Punkty'] + list(d.columns[8:])
d = d.iloc[1:,1:]

In [25]:
# filter categories
l = ['informatyka', 'matematyka', 'informatyka techniczna i telekomunikacja']
d = d[list(d.columns[:7]) + l]
d = d[d[l].notna().any(axis=1)]
d = d.reset_index(drop=True)

In [26]:
# removing 2nd issn/title/e-issn if same
d.loc[(d['issn'] == d['issn 2']), 'issn 2'] = np.nan
d.loc[(d['Tytuł 1'] == d['Tytuł 2']), 'Tytuł 2'] = np.nan
d.loc[(d['e-issn'] == d['e-issn 2']), 'e-issn 2'] = np.nan

In [27]:
d[d['issn 2'].notna()]

,Tytuł 1,issn,e-issn,Tytuł 2,issn 2,e-issn 2,Punkty,informatyka,matematyka,informatyka techniczna i telekomunikacja
46,Acoustics Australia,1839-2571,1839-2571,NaN,0814-6039,NaN,40,NaN,NaN,x
90,Advances in Difference Equations,1687-1847,1687-1847,NaN,1687-1839,NaN,40,NaN,x,NaN
131,Algebraic and Geometric Topology,1472-2739,1472-2739,NaN,1472-2747,NaN,100,NaN,x,NaN
147,Analysis & PDE,1948-206X,NaN,Analysis and PDE,2157-5045,1948-206X,200,NaN,x,x
204,Applied General Topology,1989-4147,1989-4147,NaN,1576-9402,NaN,20,NaN,x,NaN
...,...,...,...,...,...,...,...,...,...,...
3358,NaN,NaN,NaN,Pathways in Mathematics,2367-3451,2367-346X,20,NaN,x,NaN
3360,NaN,NaN,NaN,Business Informatics,2587-814X,2587-8158,20,x,NaN,NaN
3369,NaN,NaN,NaN,Applied Computer Science,1895-3735,2353-6977,20,x,NaN,x
3371,NaN,NaN,NaN,Revista Colombiana de Computacion,1657-2831,2539-2115,20,x,NaN,x
3372,NaN,NaN,NaN,Journal of Cyber Security,2096-1146,NaN,20,x,NaN,NaN

In [28]:
# fill 1st title/issn/e-issn with 2nd if 1st not present
d.loc[d['Tytuł 1'].isna(), 'Tytuł 1'] = d[d['Tytuł 1'].isna()]['Tytuł 2']
d.loc[d['issn'].isna(), 'issn'] = d[d['issn'].isna()]['issn 2']
d.loc[d['e-issn'].isna(), 'e-issn'] = d[d['e-issn'].isna()]['e-issn 2']

In [29]:
d

,Tytuł 1,issn,e-issn,Tytuł 2,issn 2,e-issn 2,Punkty,informatyka,matematyka,informatyka techniczna i telekomunikacja
0,3D Research,2092-6731,2092-6731,NaN,NaN,NaN,40,NaN,NaN,x
1,4OR-A Quarterly Journal of Operations Research,1619-4500,1614-2411,4OR,NaN,NaN,70,x,NaN,x
2,ABHANDLUNGEN AUS DEM MATHEMATISCHEN SEMINAR DE...,0025-5858,1865-8784,Abhandlungen aus dem Mathematischen Seminar de...,NaN,NaN,70,NaN,x,NaN
3,ACM Communications in Computer Algebra,1932-2232,1932-2240,NaN,NaN,NaN,20,x,x,x
4,ACM COMPUTING SURVEYS,0360-0300,1557-7341,ACM Computing Surveys,NaN,NaN,200,x,NaN,x
...,...,...,...,...,...,...,...,...,...,...
3383,Biometrical Letters,1896-3811,NaN,NaN,NaN,NaN,20,NaN,x,NaN
3384,Studia Semiotyczne,0137-6608,2544-073X,NaN,NaN,NaN,20,x,x,NaN
3385,"Annales Universitatis Mariae Curie-Skłodowska,...",0365-1029,2083-7402,NaN,NaN,NaN,20,NaN,x,NaN
3386,KWARTALNIK BELLONA,1897-7065,NaN,NaN,NaN,NaN,20,NaN,NaN,x
3387,Computer Assisted Methods in Engineering and S...,2299-3649,NaN,NaN,NaN,NaN,20,x,x,x

# Konferencje

In [31]:
k1 = pd.read_excel('data/wykaz_czasopism_2019.xlsx', 1, header=2)
k1 = k1.iloc[:,1:3]
k1.columns = ['title', 'points_2019']
k1['title'] = k1['title'].str.extract('((^.*[^\)\s]\s*$)|(.*(?=\([^\)]*\)\s?$)))') # remove additional data in titles
k1['title'] = k1['title'].str.extract('(.*[^\s](?=\s*$))') # remove trailing spaces

In [32]:
k1

                                                  title  points_2019
0                     3-D Digital Imaging and Modelling           20
1     A Satellite workshop on Formal Approaches to T...           20
2     Accounting and Finance Association of Australi...           20
3     ACIS Conference on Software Engineering Resear...           20
4                ACM Annual Computer Science Conference           20
...                                                 ...          ...
1634  International Conference: Sciences of Electron...           20
1635              The Symposium of Combinatorial Search           20
1636  The International Conference on Verification a...           20
1637                 International Teletraffic Congress           20
1638                            Human-Agent Interaction           20

[1639 rows x 2 columns]

In [34]:
k2 = pd.read_excel('data/wykaz_czasopism_2021.xlsx', 1, header=0) # header was 2 for 2019 data
k2 = k2.iloc[:,1:3]
k2.columns = ['title', 'points_2021']
k2['title'] = k2['title'].str.extract('((^[^\[]*$)|(.*(?=\s\[)))') # remove more additional data in titles (present in 2021 data)
k2['title'] = k2['title'].str.extract('((^.*[^\)\s]\s*$)|(.*(?=\([^\)]*\)\s?$)))') # remove additional data in titles
k2['title'] = k2['title'].str.extract('(.*[^\s](?=\s*$))') # remove trailing spaces

In [35]:
k2

                                                  title  points_2021
0                     3-D Digital Imaging and Modelling           20
1     A Satellite workshop on Formal Approaches to T...           20
2     Accounting and Finance Association of Australi...           20
3     ACIS Conference on Software Engineering Resear...           20
4                ACM Annual Computer Science Conference           20
...                                                 ...          ...
1633  International Conference: Sciences of Electron...           20
1634              The Symposium of Combinatorial Search           20
1635  The International Conference on Verification a...           20
1636                 International Teletraffic Congress           20
1637                            Human-Agent Interaction           20

[1638 rows x 2 columns]

In [36]:
k = k2.set_index('title').join(k1.set_index('title'), how='outer')
k

                                                    points_2021  points_2019
title
 Information Retrieval Facility Conference                 20.0          NaN
3-D Digital Imaging and Modelling                          20.0         20.0
A Satellite workshop on Formal Approaches to Te...         20.0         20.0
ACIS Conference on Software Engineering Researc...         20.0         20.0
ACM Annual Computer Science Conference                     20.0         20.0
...                                                         ...          ...
World Congress on Medical Informatics                       NaN         70.0
World Congress on Medical and Health Informatics           70.0          NaN
World Congress on Neural Networks                          70.0         70.0
World Congress on Systems Simulation                       70.0         70.0
World Multi-Conference on Systemics, Cybernetic...         20.0         20.0

[1728 rows x 2 columns]

In [37]:
k[(k['points_2019'].isna())|(k['points_2021'].isna())]

                                                    points_2021  points_2019
title
 Information Retrieval Facility Conference                 20.0          NaN
ACM SIG on Computer and Communications Metrics ...          NaN        200.0
ACM SIGSIM Conference on Principles of Advanced...         70.0          NaN
ACM Symposium of Mobile and Ad Hoc Computing                NaN        140.0
ACM Symposium on Computational Geometry                     NaN        140.0
...                                                         ...          ...
Workshop on Coordination, Organizations, Instit...          NaN         70.0
Workshop on Formal Techniques for Java Programs             NaN         20.0
Workshop on Formal Techniques for Java-like Pro...         20.0          NaN
World Congress on Medical Informatics                       NaN         70.0
World Congress on Medical and Health Informatics           70.0          NaN

[169 rows x 2 columns]

In [113]:
# previous version
k[(k['points_2019'].isna())|(k['points_2021'].isna())] # we can somehow fix the ones with parentheses but not the others :(

                                                    points_2021  points_2019
title
 Information Retrieval Facility Conference                 20.0          NaN
ACM International Conference on Advances in Com...         70.0          NaN
ACM International Conference on Advances in Com...          NaN         70.0
ACM International Joint Conference on Pervasive...        200.0          NaN
ACM International Joint Conference on Pervasive...          NaN        200.0
...                                                         ...          ...
Workshop on Coordination, Organizations, Instit...          NaN         70.0
Workshop on Formal Techniques for Java Programs             NaN         20.0
Workshop on Formal Techniques for Java-like Pro...         20.0          NaN
World Congress on Medical Informatics                       NaN         70.0
World Congress on Medical and Health Informatics           70.0          NaN

[227 rows x 2 columns]

# Q
not present = 0?  
how to handle titles/issn?